#title
  %h1= @question.question_text

#indexlinks
  = link_to t('admin.answers.index.back'), admin_questions_path
  >
  = link_to t('admin.answers.index.answer_question'), new_admin_question_answer_path(question_id: @question.to_param)

#table
  %table
    %tr.header
      %th= t('admin.answers.index.answer')
      %th
      %th
    =render @answers
